<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse culpa laboriosam quas tempora cupiditate mollitia quidem fuga, officiis fugiat doloribus reprehenderit dolores. Facere commodi inventore impedit. Vel at iusto dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse culpa laboriosam quas tempora cupiditate mollitia quidem fuga, officiis fugiat doloribus reprehenderit dolores. Facere commodi inventore impedit. Vel at iusto dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse culpa laboriosam quas tempora cupiditate mollitia quidem fuga, officiis fugiat doloribus reprehenderit dolores. Facere commodi inventore impedit. Vel at iusto dignissimos?</p>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>